@cencosud-cencommerce:registry=https://npm.pkg.github.com
//https://npm.pkg.github.com/:_authToken=$GHT_EDS_TOKEN

@ccom-easy-design-system:registry=https://node-registry.bit.cloud/
@teambit:registry=https://node-registry.bit.cloud/
//node-registry.bit.cloud/:_authToken=$BIT_TOKEN
always-auth=true