@cencosud-cencommerce:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=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

@ccom-easy-design-system:registry=https://node-registry.bit.cloud/
@teambit:registry=https://node-registry.bit.cloud/
//node-registry.bit.cloud/:_authToken=$BIT_TOKEN
always-auth=true
